.msg-modal {
  text-align: center;
}

.msg-heading-modal {
  margin-left: 4%;
  font-weight: bold;
}

.msg-img {
  height: 10%;
  width: 4%;
}

.msg-setting:hover {
  cursor: pointer;
  background-color: #a3a4ce;
  border-radius: 55px;
}

.msg-pet {
  width: 48px;
  height: 48px;
  border-radius: 80%;
  position: relative;
  object-fit: cover;
}

.input-msg {
  width: 94%;
  margin-left: 3%;
}

.form-msg {
  border-radius: 40px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  font-size: 0.8rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control {
  background-color: rgb(241, 241, 241);
  border-color: rgb(241, 241, 241);
}

.all-msg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.now {
  font-size: 0.8rem;
  color: gray;
}
.msg-hello {
  color: gray;
}
.name-mesg {
  width: 66%;
}
.msg-width {
  /* width: 5%; */
}

@media (max-width: 815px) {
  .msg-center {
    margin: 0 auto !important;
  }
}

.heading-h3 {
  text-align: center;
  font-size: 1.6rem;
}
.name-id {
  width: 63%;
}
.selected-chat-div {
  display: flex;
}

.selected-chat {
  padding: 2%;
}
.selected-chat-name {
  font-size: 12px;
}
.start-conversation-btn {
  width: 100%;
  margin: 0% 0 0 0%;
  height: 42px;
  background-color: #2a2c7c;
  font-size: 12px;
}
.group-chat-images-div {
  position: relative;
}
.group-chat-images {
  position: absolute !important;
  top: 5px;
  right: -7px;
}
.active-chat {
  background-color: rgb(219, 237, 248) !important;
}
